@import "./../../../../styles/global.scss";

.user {
    padding: 0 16px;
    width: 100%;
    height: 62px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #e4e4e7;

    &:last-child {
        border: none;
    }

    @include for-phone {
        height: unset;
        padding: 20px 0 15px 0;
        flex-direction: column;
        align-items: flex-start;
        justify-content: unset;
    }
}

.name {
    p {
        color: $color-black;
    }

    @include for-phone {
        margin: 0 0 13px 0;

        p {
            font-weight: 500;
            font-size: 14px;
        }
    }
}

.link {
    a {
        @include link;
        color: $color-link;

        @include for-phone {
            font-size: 14px;
        }
    }
}
